@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
:root {
  --color-soft-blue: hsl(215, 51%, 70%);
  --color-cyan: hsl(178, 100%, 50%);
  --color-dark-blue-main: hsl(217, 54%, 11%);
  --color-dark-blue-card: hsl(216, 50%, 16%);
  --color-dark-blue-line: hsl(215, 32%, 27%);
  --color-white: hsl(0, 0%, 100%);
  --font-base: "Outfit", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-base);
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.2;
  background-color: var(--color-dark-blue-main);
}

.container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.attribution {
  padding-bottom: 1rem;
  font-size: 0.6875rem;
  text-align: center;
  color: var(--color-soft-blue);
}
.attribution a {
  color: hsl(228deg, 45%, 44%);
}

.img-fluid {
  display: block;
  max-width: 100%;
}

.card {
  width: 96%;
  max-width: 20.625rem;
  background-color: var(--color-dark-blue-card);
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.3);
  color: var(--color-soft-blue);
}
@media (min-width: 540px) {
  .card {
    max-width: 21.875rem;
  }
}
.card__image {
  border-radius: 0.625rem;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 1.625rem;
  position: relative;
}
.card__image::before {
  content: "";
  width: 150%;
  height: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  background: hsla(178deg, 100%, 50%, 0.5);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transform-origin: center;
  transition: transform 0.4s ease;
}
.card__image::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../images/icon-view.svg") center no-repeat;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.card__image:hover::before {
  transform: translate(-50%, -50%) scale(1);
}
.card__image:hover::after {
  opacity: 1;
}
.card__title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1;
  color: var(--color-white);
}
@media (min-width: 540px) {
  .card__title {
    margin-bottom: 1.25rem;
  }
}
.card__desc {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5;
}
@media (min-width: 540px) {
  .card__desc {
    font-size: 1.125rem;
    line-height: 1.4;
    margin-bottom: 1.5rem;
  }
}
.card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
@media (min-width: 540px) {
  .card__info {
    margin-bottom: 1.5rem;
  }
}
.card__value {
  background: url("../images/icon-ethereum.svg") left center no-repeat;
  padding-left: 1.125rem;
  color: var(--color-cyan);
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}
.card__date {
  background: url("../images/icon-clock.svg") left center no-repeat;
  padding-left: 1.375rem;
  font-size: 1rem;
  letter-spacing: 0.01em;
}
.card-author {
  border-top: 0.0625rem solid var(--color-dark-blue-line);
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
.card-author__image {
  border-radius: 50%;
  border: 0.0625rem solid var(--color-white);
  width: 2.125rem;
  margin-right: 1rem;
}
.card-author__info {
  font-size: 1rem;
}
.card-author__name {
  font-weight: 600;
}
.card a {
  color: var(--color-white);
  text-decoration: none;
  transition: color 0.3s;
}
.card a:hover, .card a:focus {
  color: var(--color-cyan);
}/*# sourceMappingURL=style.css.map */